
/* ############################### */
/* General Settings */

body{

    /* Background Color and Font Style */
    background-color: rgba(40, 40, 40, 1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

h1{
    /* H1 Font size set */
    font-size: 50px;
}

/* General Settings */
/* ############################### */

/* ############################### */
/* Icon Settings */

.icon{

    /* Icon Settings Style */
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    
}

/* Icon Settings */
/* ############################### */
