/* ########################### */
/* General Settings */

/* Body Font and Background Setting */
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(40, 40, 40, 1);
}

/* h1 Font size Settings */
h1{
    font-size: 72px;
}

/* Superscript  Settings */
sup {
    vertical-align: super;
    font-size: smaller;
    font-size: 40px; 
}

/* General Settings */
/* ########################### */


/* ########################### */
/* Elements Settings */

/* Digital Clock Style Settings */
.bg-grad{
   
   background: -webkit-linear-gradient(#ffffff ,#52bcee );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

/* Digital Clock Icon Style Settings */
.icon{
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}

/* Elements Settings */
/* ########################### */
